In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({'Nomes':['Tom', 'Ron', 'Leslie', 'Jerry'],
                   'Nota':[np.nan,7,10,2],
                   'Passou':[np.nan,'sim','sim','não']})

In [5]:
df

    Nomes  Nota Passou
0     Tom   NaN    NaN
1     Ron   7.0    sim
2  Leslie  10.0    sim
3   Jerry   2.0    não

In [6]:
df.dropna(axis=0, inplace=True) # Axis 0 = linha -> Axis 1 = coluna (diferente do numpy que é o inverso)

In [7]:
df

    Nomes  Nota Passou
1     Ron   7.0    sim
2  Leslie  10.0    sim
3   Jerry   2.0    não

### **Lista -> Séries: Pandas**

In [9]:
# 1 - Top 10 linguagens TIOB Index

# Utilizando um dicionário para preencher a série.

dic = {
    'Python': 17.18,
    'C': 15.08,
    'Java': 10.75,
    'C++': 10.75,
    'C#': 4.25,
    'Visual Basic': 4.11,
    'Javascript': 2.74,
    'Assembly language': 2.18,
    'SQL': 1.82,
    'PHP': 1.69
}
popularity_list = pd.Series(dic)

In [14]:
# Exibindo os 5 primeiros
display(popularity_list.head(5))

# Exibindo os 5 últimos
display(popularity_list.tail(5))

Python    17.18
C         15.08
Java      10.75
C++       10.75
C#         4.25
dtype: float64

Visual Basic         4.11
Javascript           2.74
Assembly language    2.18
SQL                  1.82
PHP                  1.69
dtype: float64

In [21]:
# 2 - 11 primeiros termos da sequência de fibonacci

# Criando série com os 11 primeiros itens da sequência de fibonacci
# Preenchendo uma lista através de list comprehension (pra treinar mesmo)

fibo = [0,1]
[fibo.append(fibo[k-1]+fibo[k-2]) for k in range(2, 11)] # Peguei a ideia no stack overflow!

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']

fibo_series = pd.Series(data = fibo, index = indices)

In [28]:
mascara_1 = (fibo_series > 10)
mascara_2 = (fibo_series < 50)

In [31]:
display(fibo_series[mascara_1 & mascara_2])

h    13
i    21
j    34
dtype: int64